body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: #fff;
    font-size: 16px;
}

body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

input[type="button"], input[type="submit"] {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}
ul li{
    list-style-type:none;
}

label {
    margin: 0;
}
a{
    color: #4597a8;
}
/*  header
----------------------*/
.header-bottom {
    /*padding: 1.5em 0;*/
    padding-top: 1rem;
    border-bottom: 1px solid #4597a8;
}

.header-top {
    padding: 1.1em 0;
    background: #4597a8;
}

p.location {
    float: left;
    color: #fff;
    font-size: 0.875em;
}

p.phonenum {
    float: right;
    color: #fff;
    font-size: 0.875em;
}

.logo {
    float: left;
}

.top-menu {
    text-align: center;
    margin-top: .9em;
    float: right;
}

.top-menu ul li {
    display: inline-block;
    margin: 0 25px;
    color: #fff;
    font-weight: 900;
    vertical-align: top;
}

.top-menu ul li:nth-child(2), .top-menu ul li:nth-child(4), .top-menu ul li:nth-child(6), .top-menu ul li:nth-child(8) {
    margin: 0;
}

.top-menu ul li a.active {
    color: #4597a8;
}

.top-menu ul li a:hover {
    color: #4597a8;
}

nav a {
    position: relative;
    display: inline-block;
    outline: none;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    font-size: 1.35em;
}

nav a:hover,
nav a:focus {
    outline: none;
}

.copyrights {
    text-indent: -9999px;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
}

/* Effect 5: same word slide in */
.cl-effect-5 a {
    overflow: hidden;
}

.cl-effect-5 a span {
    position: relative;
    display: inline-block;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}

.cl-effect-5 a span::before {
    position: absolute;
    top: 100%;
    content: attr(data-hover);
    font-weight: 700;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.cl-effect-5 a:hover span,
.cl-effect-5 a:focus span {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
}

/* Effect 5: same word slide in and border bottom */

.top-menu ul li a {
    text-decoration: none;
    color: #444444;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

/*  banner
----------------------*/
.slider {
    position: relative;
}

.slider1 {
    position: relative;
}

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    height: 500px;
    left: 0;
    top: 0;
}

.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}

.rslides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
}

.caption {
    width: 66%;
    position: absolute;
    top: 25%;
    left: 17%;
    text-align: center;
}

.caption h2 {
    color: #ffffff;
    line-height: 1.5em;
    font-size: 2.2em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 2.5em;
}

a.more {
    font-size: 1.2em;
    font-weight: 600;
    padding: 0.8em 2em;
    background: #eee;
    color: #000;
    text-decoration: none;
}

a.more:hover {
    color: #fff;
    background: #4597a8;
}

a.more {
    font-size: 1.2em;
    font-weight: 600;
    padding: 0.8em 2em;
    background: #eee;
    color: #000;
    text-decoration: none;
}

a.more:hover {
    color: #fff;
    background: #4597a8;
}

.callbacks_tabs a:after {
    content: "\f111";
    font-size: 0;
    font-family: FontAwesome;
    visibility: visible;
    display: block;
    height: 16px;
    width: 16px;
    display: inline-block;
    background: #4597a8;
    border: 3px solid #4597a8;
    border-radius: 50%;
}

.callbacks_here a:after {
    border: 3px solid #fff;
    background: #4597a8;
}

.callbacks_tabs a {
    visibility: hidden;
}

.callbacks_tabs li {
    display: inline-block;
}

ul.callbacks_tabs.callbacks1_tabs {
    position: absolute;
    bottom: 10%;
    z-index: 999;
    left: 47%;
}

ul.callbacks_tabs.callbacks2_tabs {
    position: absolute;
    bottom: 10%;
    z-index: 999;
    left: 45%;
}
@media screen and (min-width: 1300px) {
    .rslides li {
        height: 800px;
    }
}
@media screen and (max-width: 768px) {
    .top-menu ul li {
        margin: 0 20px;
    }

    .logo img {
        width: 100%;
    }

    .logo {
        width: 18.5%;
    }

    .header-top {
        padding: 0.8em 0;
    }

    .caption h2 {
        font-size: 1.4em;
        margin-bottom: 1.8em;
    }

    a.more {
        font-size: 1em;
        padding: 0.6em 1.5em;
    }

    .caption {
        top: 20%;
    }

    .callbacks_tabs a:after {
        height: 14px;
        width: 14px;
        border: 2px solid #4597a8;
    }

    .callbacks_here a:after {
        border: 2px solid #fff;
    }

    ul.callbacks_tabs.callbacks1_tabs {
        left: 45%;
    }
}

@media screen and (max-width: 640px) {
    .caption h2 {
        font-size: 1.2em;
    }

    a.more {
        font-size: 0.95em;
        padding: 0.55em 1.2em;
    }

    .callbacks_tabs a:after {
        height: 10px;
        width: 10px;
    }

    span.menu {
        width: 28px;
        height: 28px;
        background: url(../img/index3/nav.png) no-repeat;
        display: inline-block;
        float: right;
        cursor: pointer;
        margin-top: 5px;
    }

    .top-menu {
        width: 100%;
        display: none;
        text-align: center;
        background: #fff;
        padding: 0;
        margin-top: 10px;
    }

    .top-menu ul {
        float: none;
        width: 100%;
    }

    .top-menu ul li {
        display: block;
        float: none;
        margin: 5px 0;
    }

    .logo {
        width: 20.5%;
    }

    .blogdata_1_of_2 {
        width: 100%;
        float: none;
        margin-left: 0;
    }

    .blog_1_of_2 {
        margin-right: 1em;
    }
}

@media screen and (max-width: 320px) {
    .logo {
        width: 40%;
    }

    span.menu {
        margin-top: 4px;
        background-size: 22px;
    }
}

/*  main
----------------------*/
.main {
    margin: 20px;
}

.company h3 {
    text-align: center;
    margin: 10px 0;
    color: #4597a8;

}

.company p {
    font-weight: 800;
    line-height: 1.5;
}

/*  product-owl
----------------------*/
.product-owl {
    position: relative;
    margin: 40px 0;
}

.product-owl .item {
    /*height: 250px;*/
}
.product-owl .item h4{
    color: #4597a8;
    padding: 10px 0;
}
.product-owl .item h4:hover{
    color: #0e61a8;
    cursor: pointer;
}
.product-owl .item p {
    line-height: 1.5;
}

.more-pro {
    position: absolute;
    bottom: 30px;
    right: 0;
    width: 70px;
    height: 30px;
    background: #4597a8;
    color: #FFFFFF;
    text-align: center;
    line-height: 30px;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.more-pro:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
}

/*  choose us
----------------------*/
.choose-us {
    margin: 20px 0;
    color: #4597a8;
    text-align: center;
}

.choose-us h2 {
    margin: 10px 0;
}

.choose-us .item {
    padding: 2px;
}

.choose-us .item .item-s {
    padding-top: 10px;
    padding-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.choose-us .item .item-s h3 {
    margin: 10px 0;
}

.choose-us .item .item-s p {
    /*margin: 10px 0 30px;*/
}

/*  google-map
----------------------*/

.google-map h2 {
    color: #4597a8;
    text-align: center;
    margin: 20px 0;
}

.google-map iframe {
    width: 100%;
    height: 344px;
    border: none;
}

ul.side-icons {
    border: none;
    margin-top: 10px;
}

ul.side-icons li {
    list-style-type: none;
    display: inline-block;
    margin-right: 5px;
}

ul.side-icons li a {
    width: 24px;
    height: 24px;
    display: block;
    border: none;
    padding: 0
}

/*  main-right
----------------------*/
.main-right {
  /*border: 1px solid red;*/
}

/*  social
----------------------*/
.social{

}
.social-b{
    padding: 20px;
    box-sizing: border-box;
}
.main-right-item{
    border: 1px solid #4597a8;
    margin-bottom: 20px;

}
.main-right-item h4{
    width: 100%;
    color: #FFFFFF;
    background: #4597a8;
    padding: 10px;
    box-sizing: border-box;
}
.side-icons li {
    color: #0aa5e2;
    background: #0aa5e2;
}

.side-icons li a:hover {
    opacity: 0.4;
}

.side-icons li a.fb {
    background: url('../img/index/icons.png') no-repeat 0px 0px;
}

.side-icons li a.twitt {
    background: url('../img/index/icons.png') no-repeat -26px 0px;
}

.side-icons li a.goog {
    background: url('../img/index/icons.png') no-repeat -52px 0px;
}

.side-icons li a.drib {
    background: url('../img/index/icons.png') no-repeat -78px 0px;
}

/*  comp-news
----------------------*/
.comp-news .news{
    padding: 10px;
    box-sizing: border-box;
    height: 450px;
    overflow: auto;
}
.comp-news .news li h5{
    color: #55bacf;
    margin: 8px 0;
}
/*  pay
----------------------*/
.pay{
 width: 100%;
}
.money-in{
    width: 90%;
    margin:0 auto;
}
.pay .money-in li{
    width: 50%;
    float: left;
    margin: 0 auto;
}
/*  product-right
----------------------*/
.product-right{
    width: 100%;

    position: relative;
}
.product-right .more{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #4597a8;
    color: #FFFFFF;
    text-align: right;
}
.pro-items{
    overflow: auto;
    height: 400px;
}
.pro-item{
    padding: 4px;
    box-sizing: border-box;
}
.pro-item img{
    width: 40%;
    float: left;
}
.pro-item .pro-item-r{
    width: 60%;
    float: left;
    padding: 4px;
    box-sizing: border-box;
}
.pro-item .pro-item-r h5{
    padding: 5px 0;
    color: #4597a8;
}

.pro-item .pro-item-r h5:hover{
    cursor: pointer;
    color: #195ea8;
}
/*  footer
----------------------*/
.footer {
    width: 100%;
    padding: 20px;
    background: #000000;
    color: #d4d4d4;
    line-height: 2;
}

.footer i {
    margin-right: 20px;
}

/*  about.html
----------------------*/
.about-company{

}
.about-del {
    margin: 20px 0;
}
.about-del h3{
    color: #4597a8;
}
.about-del .p-time{
    color: #357683;
}
.find-us iframe {
    width: 100%;
    height: 344px;
    border: none;
}
.find-us-left h3{
    color: #e2820a;
    margin: 10px 0;
}
.find-us-ads{
    font-size: 20px;
    margin: 10px 0;
}

/*  product.html
----------------------*/
.product{

}
.product .pro-img{
    width: 100%;
    margin: 20px;
}
.product .pro-img img{
    width: 70%;
    display: block;
    margin: 0 auto;
}
.product .pro-img p{
    text-align: center;
    margin: 10px 0;
}
.iframe-heard{
    width: 100%;
    height: 5.5rem;
}
.iframe-footer{
    width: 100%;
}

.contact-us{
    width: 100%;
    overflow: auto;
}
.contact-us-ul {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.contact-us-li{
    margin: 8px;
}
.contact-us-li p{
    margin: 6px 0;
}
.contact-us-li img{
    width: 180px;
    height: 180px;
    border-radius: 20px;
}
