<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>RoadstudXP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Cache-Control" content="max-age=7200"/>
    <meta name="description"
          content="traffic safety products ,safety products, road stud,plastic solar road stud ,aluminum soar road stud  ,solar led road stud ,traffic barriecade light ,cone,PE traffic cone ,traffic post ,warning post ,delineator post,PU post ,EVA traffic post,car wheel stopper,car wheel chock,rubber corner guard,EVA corner guard ">
    <meta name="keywords"
          content="roadstudluda(roadstudluda.com)Including traffic safety equipment ,solar LED road stud ,road reflector ,traffic cone ,traffic post ,speed bumps(speed break) ,car wheel chock ,wall corner guard ..etc. products details and features ,also supply email,wechat ,whatsapp and contact number for further consult about the products">
    <link href="../css/lib/bootstrap.css" rel="stylesheet">
    <link href="../css/lib/owl.theme.default.min.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="../css/lib/owl.carousel.min.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="../css/index4.css" rel="stylesheet">
</head>
<body>
<footer class="footer">
    <div class="footer-top">
        <div class="col-md-4 footer-grid">
            <h4>Company </h4>
            <ul class="bottom">
                <li>Fujian XP Industrial Co.,LTD</li>
                <li>Specialized on road stud since 1996</li>
            </ul>
        </div>
        <div class="col-md-4 footer-grid">
            <h4>Message Us Now</h4>
            <ul class="bottom">
                <li><i class="glyphicon glyphicon-home"></i>Available 24/7</li>
                <li><i class="glyphicon glyphicon-envelope"></i><a href="mailto:solarroadstud@yeah.net">solarroadstud@yeah.net</a>
                </li>
            </ul>
        </div>
        <div class="col-md-4 footer-grid">
            <h4>Address Location</h4>
            <ul class="bottom">
                <li><i class="glyphicon glyphicon-map-marker"></i>2/F Bldg.6 Puda Road Jinpu Bridge Yancuo Town
                    ,Zhangzhou 363119，Fujian Prov. China .
                </li>
                <li><i class="glyphicon glyphicon-earphone"></i>phone:86 15505965690</li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</footer>
</body>
</html>
