<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>RoadstudXP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Cache-Control" content="max-age=7200"/>
    <meta name="description"
          content="traffic safety products ,safety products, road stud,plastic solar road stud ,aluminum soar road stud  ,solar led road stud ,traffic barriecade light ,cone,PE traffic cone ,traffic post ,warning post ,delineator post,PU post ,EVA traffic post,car wheel stopper,car wheel chock,rubber corner guard,EVA corner guard ">
    <meta name="keywords"
          content="roadstudluda(roadstudluda.com)Including traffic safety equipment ,solar LED road stud ,road reflector ,traffic cone ,traffic post ,speed bumps(speed break) ,car wheel chock ,wall corner guard ..etc. products details and features ,also supply email,wechat ,whatsapp and contact number for further consult about the products">
    <link href="../css/lib/bootstrap.css" rel="stylesheet">
    <link href="../css/lib/owl.theme.default.min.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="../css/lib/owl.carousel.min.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="../css/index4.css" rel="stylesheet">
</head>
<body>
<header class="header" id="header">
    <div class="header-bottom">
        <div class="container">
            <div class="logo">
                <a href="../index.html"><img src="../img/index4/logo.png" alt=""/></a>
            </div>
            <span class="menu"></span>
            <div class="top-menu">
                <ul>
                    <nav class="cl-effect-5">
                        <li><a class="nav-text" href="../index.html"><span data-hover="Home">Home</span></a></li>
                        <li><a class="nav-text" href="../about.html"><span data-hover="About">About</span></a></li>
                        <li><a class="nav-text" href="../news.html"><span data-hover="NEWS">NEWS</span></a></li>
                        <li><a class="nav-text" href="../product.html"><span data-hover="Product">Product</span></a></li>
                        <li style="color: #1f1e1e">
                            <a href="mailto:solarroadstud@yeah.net">
                                solarroadstud@yeah.net
                            </a>
                        </li>
                        <li style="color: #1f1e1e">
                            <marquee width=50 behavior=scroll direction=left align=middle>
                                <a style="font-size: 20px;color:#ff9e30" href="mailto:roadstudXP@foxmail.com">
                                    <i class="glyphicon glyphicon-envelope"></i>👈💪👌
                                </a>
                            </marquee>
                        </li>
                    </nav>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</header>
<script src="../js/lib/jquery.2.1.4-min.js"></script>
<script src="../js/lib/bootstrap.min.js"></script>
<script src="../js/lib/responsiveslides.min.js"></script>
<script src="../js/lib/owl.carousel.min.js"></script>

<script>
    $(document).ready(function () {
        var href = parent.location.href
        href = href.substring(href.lastIndexOf('/')+1,href.lastIndexOf('.'))
        switch (href) {
            case 'index' :
                $('.nav-text').eq(0).addClass('active')
                break;
            case 'about' :
                $('.nav-text').eq(1).addClass('active')
                break;
            case 'news' :
                $('.nav-text').eq(2).addClass('active')
                break;
            case 'product' :
                $('.nav-text').eq(3).addClass('active')
                break;
            default:
                console.log(href.indexOf('p'))
                if (href.indexOf('p') > -1) {
                    $('.nav-text').eq(3).addClass('active')
                } else {
                    $('.nav-text').eq(0).addClass('active')
                }
        }
        // $("span.menu").click(function () {
        //     $(".top-menu").slideToggle("slow", function () {
        //         // Animation complete.
        //     });
        // });
    })
</script>
</body>
