@import '~src/style/mixin.less';

.app-product-list{
  margin: 0 100px;
  padding: 10px;
  .top-guide{
    padding: 5px 10px 10px;
    font-weight: 600;
    .top-guide-link{
      color: @bcl;
      font-weight: 600;
    }
  }
  .ul-contnet{
    background: #ffffff;
    flex-wrap: wrap;
  }
  .li-item{
    width: 25%;
    padding: 40px;
    .img-box{
      width: 100%;
      height: 0px;
      padding-bottom: 140%;
      overflow: hidden;
      background: #000000;
      border: 1px solid #fab07b;
      border-radius: 4px 4px 0 0;
    }
    .prod-img {
      width: 100%;
    }
    .title{
      height: 55px;
      padding: 6px 4px 60px;
      color: #ffffff;
      font-weight: 500;
      background: #fab07b;
      border-radius: 0 0 4px 4px;
    }
  }
}
@media screen and (max-width:1024px) {
  .app-product-list .li-item {
    padding: 5px;
  }
}
@media screen and (max-width:768px) {
  .app-product-list{
    margin: 0 10px;
  }
}

